{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Email</title>
</head>
<body>
    <p>Hello {{ user.email }},</p>
    <p>You have requested a password reset. Please click on the link below to reset your password:</p>
    <p><a href="http://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Password</a></p>
    <p>If you did not request this change, you can ignore this email.</p>
</body>
</html>
